mixin input-number-field(options = {})
  .input-number-field&attributes(attributes)
    label.input-number-field__label
      input.input-number-field__input(
        type=options.type || "text",
        id=options.id,
        name=options.id,
        placeholder=options.placeholder,
        value=options.value,
        required=options.required
      )

mixin value-slider-noui(options)
  - options = options || {}
  - const params = options.config ? { ...options.config, ...options } : options
  - const { showInputs, showMinInput, showMaxInput, minValue, maxValue, minRange, maxRange, unit, title, titleTag } = params
  -
    const dataConfig = {
      minRange: typeof minRange !== 'undefined' ? minRange : 0,
      maxRange: typeof maxRange !== 'undefined' ? maxRange : 100,
      unit: unit || '',
      minValue: typeof minValue !== 'undefined' ? minValue : (typeof minRange !== 'undefined' ? minRange : 0),
      maxValue: typeof maxValue !== 'undefined' ? maxValue : (typeof maxRange !== 'undefined' ? maxRange : 100),
      showInputs: !!showInputs,
      isSingleHandle: (showMinInput && !showMaxInput) || (!showMinInput && showMaxInput),
      showMinInput: !!showMinInput,
      showMaxInput: !!showMaxInput
    };
  - const sliderId = 'nouislider-' + Math.random().toString(36).substr(2, 9);

  .slider-container.noui-slider-container&attributes(attributes)(data-config=JSON.stringify(dataConfig), data-slider-id=sliderId)
    if title
      #{titleTag || 'h3'}.slider-title(class="slider__title")= title

    .nouislider-target(id=sliderId)

    if showInputs
      .slider-inputs
        if showMinInput
          +input-number-field({
            id: 'min-input-' + sliderId,
            value: dataConfig.minValue,
            placeholder: params.minPlaceholder || '',
            required: params.required || false,
            attributes: { 'data-type': 'min' }
          }).slider-input.slider-min-input(data-type="min")

        if showMaxInput
          +input-number-field({
            id: 'max-input-' + sliderId,
            value: dataConfig.isSingleHandle ? dataConfig.minValue : dataConfig.maxValue,
            placeholder: params.maxPlaceholder || '',
            required: params.required || false,
            attributes: { 'data-type': 'max' }
          }).slider-input.slider-max-input(data-type="max")